<a href="https://colab.research.google.com/github/surbhi0901/MLnow/blob/main/EDA_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd'/content/drive/MyDrive/LiveCodeSession/EDA/student'

/content/drive/MyDrive/LiveCodeSession/EDA/student

In [26]:
ls

student-mat.csv     student-merge.R  student.txt
student-mat.gsheet  student-por.csv

In [55]:
import pandas as pd
import numpy as np
import tensorflow as tf
import keras
import os

In [56]:
mathData=pd.read_csv('student-mat.csv', sep= ';')

In [57]:
mathData.head()
mathData.tail()

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[5 rows x 33 columns]

#Data Processing

#### Converting categorical data into numerical data

Checking number of unique values in every column

In [58]:
# variable.column.unique() --> all {column} values from the {variable} dataframe and print out the unique ones. 
# variable.column.nunique() --> gives the number of unique values in that column

print(f'school: {mathData.school.unique()}')
print(f'sex: {mathData.sex.unique()}')
print(f'address: {mathData.address.unique()}')
print(f'Mjob: {mathData.Mjob.unique()}')
print(f'Fjob: {mathData.Fjob.unique()}')
print(f'higher: {mathData.higher.unique()}')

school: ['GP' 'MS']
sex: ['F' 'M']
address: ['U' 'R']
Mjob: ['at_home' 'health' 'other' 'services' 'teacher']
Fjob: ['teacher' 'other' 'services' 'health' 'at_home']
higher: ['yes' 'no']


Considering the

mathData['school'] = mathData['school'].apply({'GP':1, 'MS':2}.get)
Access the column school from the variable mathData (which has the pandas dataframe). Once we access it, since we are using a dictionary we will replace the string / categorical values with numeric data.

Meaning -->

Replace GP with 1
Replace MS with 2

In [59]:
#convert the categories into numbers 

#binary valued

mathData['school'] = mathData['school'].apply({'GP':1, 'MS':2}.get)
mathData['sex'] = mathData['sex'].apply({'F':1, 'M':2}.get)
mathData['address'] = mathData['address'].apply({'U':1, 'R':2}.get)
mathData['higher'] = mathData['higher'].apply({'yes':1, 'no':2}.get)


#multi-valued
mathData['Mjob'] = mathData['Mjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)
mathData['Fjob'] = mathData['Fjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)

mathData.head(15)

    school  sex  age  address famsize  ... health  absences  G1  G2  G3
0        1    1   18        1     GT3  ...      3         6   5   6   6
1        1    1   17        1     GT3  ...      3         4   5   5   6
2        1    1   15        1     LE3  ...      3        10   7   8  10
3        1    1   15        1     GT3  ...      5         2  15  14  15
4        1    1   16        1     GT3  ...      5         4   6  10  10
5        1    2   16        1     LE3  ...      5        10  15  15  15
6        1    2   16        1     LE3  ...      3         0  12  12  11
7        1    1   17        1     GT3  ...      1         6   6   5   6
8        1    2   15        1     LE3  ...      1         0  16  18  19
9        1    2   15        1     GT3  ...      5         0  14  15  15
10       1    1   15        1     GT3  ...      2         0  10   8   9
11       1    1   15        1     GT3  ...      4         4  10  12  12
12       1    2   15        1     LE3  ...      5         2  14  14  14
13       1    2   15        1     GT3  ...      3         2  10  10  11
14       1    2   15        1     GT3  ...      3         0  14  16  16

[15 rows x 33 columns]